<div id="grayout" class="hidden fixed inset-0 w-full h-full bg-gray-800 opacity-50">
    <div id="grayoutContainer">
        <span id="grayoutBtClose" class="material-icons absolute right-0 text-write"> clear </span>
        <div id="grayoutContent">
            {% block content %}

            {% endblock content %}
        </div>
    </div>
</div>