{% extends "layout.html.twig" %}

{% block title %}
    Internal Error
{% endblock title %}

{% block section %}
    <h1>Internal error occured. Our team of Coding Ninjas has been notified.</h1>
{% endblock section %}