{% extends "layouts/layout.html.twig" %}

{% block title %}
    Login page
{% endblock title %}

{% block section %}
    <div class="mx-auto w-1/5 pt-10">
        <div class="text-center">
            <i class="fas fa-sign-in-alt fa-2x"></i>
            <span class="p-4 text-4xl font-bold">Login</span>
        </div>


        {% if error %}
            <p class="px-4 text-red-500">{{ error }}</p>
        {% endif %}

        <form class="text-lg py-5" action="/login" method="post" onsubmit="validateRecaptcha();">
            <input name="url" class="hidden" value={{ url }}>
            <div>
                <span class="mb-2 font-bold">Email</span>
                <i class="far fa-envelope"></i>
                <input class="w-full p-2 h-10 border-2 border-gray-500" type="text" name="email"/>
            </div>
            <div class="mt-4">
                <span class="mb-2 font-bold">Password</span>
                <i class="fas fa-unlock-alt"></i>
                <input class="w-full p-2 h-10 border-2 border-gray-500" type="password" name="password"/>
            </div>
            <div class="my-5 w-full inline-block text-right">
                <div {#data-type="image"#} class="g-recaptcha  inline-block"
                     data-sitekey="6LcKJfkUAAAAAOaq64T2Y0ybmt652SK51zRe6u6k"></div>
                <script src="https://www.google.com/recaptcha/api.js?explicit&hl=en" async defer></script>
            </div>

            <div class="mt-4 text-right">
                <input name="login" class="px-8 py-2 mr-2 rounded bg-gray-500 font-bold" type="submit" value="Login">
                <a class="font-bold" href="/register">Register</a>
            </div>
        </form>
    </div>

    <div>


    </div>
    <script>
        function validateRecaptcha() {
            let jsonData = {
                captcha: grecaptcha.getResponse()
            };
            $.ajax({
                type: "POST",
                url: "/recaptcha",
                dataType: "json",
                data: JSON.stringify(jsonData),
                success: function (data, textStatus, jQxhr) {
                    toastr.success("reCaptcha varefication success!");
                    console.log(JSON.stringify(data));
                    return true;
                },
                error: function (jqxhr, status, errorThrown) {
                    toastr.error("Need pass reCaptcha verification!");
                    return false;
                }
            });
            //alert("validate false");
            return false;
        }

        $(document).ready(function () {
          /*  $("input[type=submit]").on('click', function () {
                validateRecaptcha();
            })
*/

            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-top-center",
                "preventDuplicates": false,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "3000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
        })
    </script>

{% endblock section %}