{% extends "layouts/layout.html.twig" %}

{% block title %}
    Login page
{% endblock title %}

{% block section %}
    <form method="post" action="/modified_datetime" class="w-3/5 mx-auto" onsubmit="return isValidForm()">
        <div class="mx-12 mt-6">
            <div class="flex inline-block">
                <span class="mb-2 font-bold w-5/12 ">PICK-UP TIME</span>
                <span class="mb-2 font-bold pl-10">RENT DAYS</span>
            </div>

            <div >
                <input class="w-1/5 font-bold text-center p-2 mr-5 h-10 border-2 border-gray-500" type="date"
                       name="pickupDate" id="pickupDate"/>
                <input class="pickupTime font-bold w-1/6 text-center p-2 h-10 border-2 border-gray-500 mr-5"
                       value="09:00:00"
                       type="time"
                       list="pickupTimeList"
                       step="600" name="pickupTime" id="pickupTime">
                <datalist id="pickupTimeList">
                    <option value="08:00"/>
                    <option value="09:00"/>
                    <option value="10:00"/>
                    <option value="11:00"/>
                    <option value="12:00"/>
                    <option value="13:00"/>
                    <option value="14:00"/>
                    <option value="15:00"/>
                    <option value="16:00"/>
                    <option value="17:00"/>
                    <option value="18:00"/>
                    <option value="19:00"/>
                    <option value="20:00"/>
                </datalist>
                <input class="w-1/6 text-center font-bold p-2 h-10 border-2 border-gray-500" type="number" min="1"
                       value="1"
                       id="rentDays"/>
            </div>
        </div>
        <div class="mx-12 mt-6">
            <p class="mb-2 font-bold">RETURN TIME</p>
            <div class="flex">
                <input class="returnDate font-bold w-1/5 text-center p-2 mr-5 h-10 border-2 border-gray-500"
                       type="date"
                       name="returnDate" id="returnDate"/>
                <input class="returnTime font-bold w-1/6 text-center p-2 h-10 border-2 border-gray-500"
                       value="09:00:00"
                       type="time" step="600"
                       list="returnTimeList" name="returnTime" id="returnTime">
                <datalist id="returnTimeList">
                    <option value="08:00"/>
                    <option value="09:00"/>
                    <option value="10:00"/>
                    <option value="11:00"/>
                    <option value="12:00"/>
                    <option value="13:00"/>
                    <option value="14:00"/>
                    <option value="15:00"/>
                    <option value="16:00"/>
                    <option value="17:00"/>
                    <option value="18:00"/>
                    <option value="19:00"/>
                    <option value="20:00"/>
                </datalist>
            </div>
        </div>

        <div class="my-6 mr-20 text-right">
            <input type="submit" class="px-8 py-2 mt-8 rounded bg-green-700 text-white" value="CONTINUE">
        </div>
    </form>

    <script>
        function getTodayDate() {
            var today = new Date();
            return today.getFullYear() + "-" + ("0" + (today.getMonth() + 1)).slice(-2) + "-" + ("0" + today.getDate()).slice(-2);
        }

        function getNowTime() {
            var today = new Date();
            if (Math.ceil(today.getMinutes() / 10) * 10 >= 60) {
                return ("0" + (today.getHours() + 1)).slice(-2) + ":" + ("0" + Math.ceil(today.getMinutes() / 10) * 10 % 60).slice(-2);
            } else {
                return ("0" + today.getHours()).slice(-2) + ":" + ("0" + Math.ceil(today.getMinutes() / 10) * 10).slice(-2);
            }
        }


        function getReturnDate(days) {
            days = days > 0 ? days : 1;
            var today = new Date();
            var retDate = new Date(Number(today));
            retDate.setDate(today.getDate() + days);
            return retDate.getFullYear() + "-" + ("0" + (retDate.getMonth() + 1)).slice(-2) + "-" + ("0" + retDate.getDate()).slice(-2);
        }

        function isValidForm() {
            if ($("#pickupDate").val() === '' || $("#pickupTime").val() === '') {
                toastr.error("PICKUP datetime need select","Datetime selection error");

                return false;
            }
            if ($("#returnDate").val() === '' || $("#returnTime").val() === '') {
                toastr.error("RETURN datetime need select","Datetime selection error");
                return false;
            }
            var retDate = $("#returnDate").val();
            var picDate = $("#pickupDate").val();
            if (retDate <= picDate) {
                toastr.error("PICKUP date must be at least one day before RETURN date!","Date error");
                return false;
            }
            return true;
        }

        function updateDate(refElement, days){
            var refVal = $(refElement).val();
            var refDate = new Date(refVal.replace('-','/'));
            var adjDate = new Date(refVal.replace('-','/'));
            adjDate.setDate(refDate.getDate() + days);
            var result = adjDate.getFullYear() + "-" + ("0" + (adjDate.getMonth() + 1)).slice(-2) + "-" + ("0" + adjDate.getDate()).slice(-2);
            return result;
        }



        $(document).ready(function () {

            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-top-center",
                "preventDuplicates": false,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "4000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            $("#pickupDate").attr('min', getTodayDate);
            $("#returnDate").attr('min', getReturnDate(1));

            $("#pickupDate").val(getTodayDate);
            $("#pickupTime").val(getNowTime);
            $("#returnDate").val(getReturnDate(Number($("#rentDays").val())));
            $("#returnTime").val(getNowTime);

            $("#returnDate").on("change", function () {
                var retDate = $(this).val();
                var picDate = $("#pickupDate").val();
                if (retDate <= picDate) {
                    $("#returnDate").val(updateDate($("#pickupDate"), Number($("#rentDays").val())));
                    toastr.info("Return date must be at least one day after pickup date!","Return date");
                }
            })

            $("#pickupDate").on("change", function () {
                var picDate = $(this).val();
                var retDate = $("#returnDate").val();
                if (retDate <= picDate) {
                    //alert($(this).val());
                    $("#returnDate").val(updateDate(this, Number($("#rentDays").val())));
                    toastr.info("PICKUP date must be at least one day before return date!","Pickup date");
                }
            })


            $("#rentDays").on("change", function () {
                var days = Number($(this).val()) > 0 ? Number($(this).val()) : 1;
                $(this).val(days);
                $("#returnDate").val(updateDate($("#pickupDate"),days));
            })
        })
    </script>
{% endblock section %}