{% extends "layouts/layout.html.twig" %}

{% block title %}
    Register
{% endblock title %}

{% block section %}
<div class="max-w-sm mx-auto">
    <h1 class="p-4 text-4xl font-bold">Regisger page</h1>

    <form 
        class="text-lg p-4" 
        action="/register" 
        method="post"
        enctype="multipart/form-data"
    >
    {% set fieldList = ['Email','Password','Confirm','Firstname','Lastname','Drivinglicense','Address','phone']%}
        {% for field in fieldList %}
        <div class="my-2">
            <p>{{ field }}</p>
            <input class="w-full mt-2 p-2 h-10 border-2 border-gray-500" type="text" name="{{ field |lower }}" />
            <p class="text-xs text-red-400">{{errorList [field|lower ] }}</p>
        </div>
        {% endfor %}
        <div>
            <p class="w-56">Id Photo</p>
                <label class="flex w-56 h-48 mx-auto justify-center items-center border-2 border-gray-400 shadow-md text-center cursor-pointer" for="idPhoto">Click to choose your photo ( jpeg / png )</label>
                <input id="idPhoto" class="hidden" type="file" name="idPhoto" accept="image/png, image/jpeg"/>
        </div>

        <div class="mt-4 text-right">
            <button class="px-8 py-2 rounded bg-gray-500" type="submit">CONTINUE</button>
        </div>
    </form>
</div>

{% endblock section %}