{% extends "admin/layouts/layout.html.twig" %}

{% block title %}
    Store List
{% endblock title %}

{% block section %}
<div>
    <div class="flex">
        <input class="p-2 border-2 w-full h-full" type="text" name="searchKeyword" placeHolder="Search here..."/>
        <button class="ml-2 px-4 rounded bg-gray-700 text-gray-300 border-3" >Search</button>
    </div>
</div>

<div>
    <div id="editorDiv" class="hidden flex absolute z-20 top-0 items-center bg-gray-200 border-1 border-gray-800">
        <input id="editorInput" class="text-center" type="text" value="" />
        <button id="editorButton" class="bg-gray-500 font-bold text-sm rounded py-1 px-2">Edit</button>
    </div>

    <div>
    </div>
    <table class="w-full mt-2 border-2 border-collapse">
        <tr id="tableHeader" class="bg-gray-800 text-gray-200">
            <th class="border-2 border-gray-200">ID</th>
            <th class="border-2 border-gray-200">Province</th>
            <th class="border-2 border-gray-200">City</th>
            <th class="border-2 border-gray-200">Postal Code</th>
            <th class="border-2 border-gray-200">Address</th>
            <th class="border-2 border-gray-200">Phone</th>
        </tr>
        <tbody id="tbodyStoreList" class="text-center">
            {% include 'admin/cards/store_card.html.twig' %}
        </tbody>
    </table>
    <div class="text-right">
        <button class="mt-3 px-3 py-1 rounded bg-green-400">Add new store</button>
    </div>
</div>
{% endblock section %}

{% block grayout %}
    {% include "admin/grayout/grayout_store_list.html.twig" %}
{% endblock grayout %}

{% block scripts %}
<script>
    $(document).ready(function () {
        function reloadstoreList()
        {
            let url = "/admin/ajax/stores";
            $.ajax({
                url: url,
                type: "GET",
            }).done(function (storeList) {
                $("#tbodyStoreList").html(storeList);
            }).fail(function () {
                console.log("store list ajax fail!");
            });
        }

        let selStoreId = 1;
        let fieldIndex = 1;

        $("table").on("click","tbody td.storeField",function () 
        {
            event.stopPropagation();

            selStoreId = $(this).parent().children(".storeId").html();

            $("#editorDiv").addClass("flex");
            $("#editorDiv").removeClass("hidden");

            fieldIndex = $(this).index();

            $("#editorInput").val($(this).html());

            $("#editorDiv").offset($(this).position());

            let width = $(this).width();
            $("#editorInput")
                .width(width - 20)
                .focus();
        });

        $("#editorInput").click(function () {
            event.stopImmediatePropagation();
        });

        $("#editorButton").click(function () 
        {
            event.stopImmediatePropagation();

            let value = $("#editorInput").val();
            let data = {
                "fieldIndex" : fieldIndex,
                "value" : value
            };
            let url = "/admin/ajax/stores/" + selStoreId;

            $.ajax({
                url: url,
                type: "PATCH",
                data: JSON.stringify(data),
                datatype: 'json'
            })
            .done(function (storeList) {
                reloadstoreList();
            }).fail(function () {
                console.log("store deletion ajax fail!");
            });

            $("#editorDiv").addClass("hidden");
            $("#editorDiv").removeClass("flex");
        });

        $("table").on("click","tbody td span.btDelete",function () 
        {
            let storeId = $(this).parents("tr").children(".storeId").html();
            let url = "/admin/ajax/stores/" + storeId;

            $.ajax({
                url: url,
                type: "DELETE",
            })
            .done(function (storeList) {
                reloadstoreList();
            }).fail(function () {
                console.log("store deletion ajax fail!");
            });
        });

        /** Gray Out control */

    });
</script>
{% endblock scripts %}