{% extends "admin/layouts/layout.html.twig" %}

{% block title %}
    Store List
{% endblock title %}

{% block section %}
<div>
    <div class="flex">
        <input class="p-2 border-2 w-full h-full" type="text" name="searchKeyword" placeHolder="Search here..."/>
    </div>
</div>

<div>
    <form id="editorDiv" class="hidden absolute z-20 top-0 items-center bg-gray-200 border-1 border-gray-800">
        <div>
            <input id="editorInput" class="text-center" type="text" value="" />
        </div>
    </form>

    <div>
    </div>
    <table class="w-full mt-2 border-2 border-collapse">
        <tr id="tableHeader" class="bg-gray-800 text-gray-200">
            <th class="storeId border-2 border-gray-200">ID</th>
            <th class="storeName border-2 border-gray-200">Store Name</th>
            <th class="storeProvince border-2 border-gray-200">Province</th>
            <th class="storeCity border-2 border-gray-200">City</th>
            <th class="storePostCode border-2 border-gray-200">Postal Code</th>
            <th class="storeAddress border-2 border-gray-200">Address</th>
            <th class="storePhone border-2 border-gray-200">Phone</th>
        </tr>
        <tbody id="tbodyStoreList" class="text-center">
            {% include 'admin/cards/store_card.html.twig' %}
        </tbody>
    </table>
    <div class="text-right">
        <button id="btAddNewStore" class="mt-3 px-3 py-1 rounded bg-green-400">Add new store</button>
    </div>
</div>
{% endblock section %}

{% block grayout %}
    {% include "admin/grayout/grayout_add_store.html.twig" %}
{% endblock grayout %}

{% block scripts %}
<script>
    $(document).ready(function () {
        function reloadstoreList()
        {
            let url = "/admin/ajax/stores";
            $.ajax({
                url: url,
                type: "GET",
            }).done(function (storeList) {
                $("#tbodyStoreList").html(storeList);
            }).fail(function () {
                console.log("store list ajax fail!");
            });
        }

        let selStoreId = 1;
        let fieldIndex = 1;
        let selElement = '';

        // Show edit input
        $("table").on("click","tbody td.storeField",function () 
        {
            selElement = this;
            selStoreId = $(this).parent().children(".storeId").html();

            $(this).removeClass("bg-green-200");
            $("#editorDiv").addClass("block");
            $("#editorDiv").removeClass("hidden");

            fieldIndex = $(this).index();

            $("#editorInput").val($(this).html());

            $("#editorDiv").offset($(this).position());

            let width = $(this).width();
            let height = $(this).height();
            $("#editorInput").width(width + 5).height(height + 7).focus();
        });

        $("#editorInput").focusout(function() {
            $("#editorDiv").addClass("hidden");
        });


        // Edit store field(patch) 
        $("#editorDiv").submit(function( event ) {
            event.preventDefault();
            event.stopImmediatePropagation();

            let value = $("#editorInput").val();
            let data = {
                "fieldIndex" : fieldIndex,
                "value" : value
            };
            let url = "/admin/ajax/stores/" + selStoreId;

            $.ajax({
                url: url,
                type: "PATCH",
                dataType: "json",
                data: JSON.stringify(data)
            })
            .done(function (result) {
                if(result.errorList.length == 0){
                    $(selElement).html(data.value);
                }else{
                    Object.keys(result.errorList).forEach(function (key) {
                        $("#notificationTitle").html(`[${key}] is Invalid!!`);
                        $("#notificationText").html(result.errorList[key]);
                        $("#notificationDiv")
                            .removeClass("bg-orange-500")
                            .addClass("bg-red-700")
                            .slideDown().delay(2000).fadeOut("slow");
                    });
                }
            }).fail(function () {
                console.log("store deletion ajax fail!");
            });

            $("#editorDiv").delay(1000).addClass("hidden");
        });

        $("#editorInput").click(function () {
            event.stopImmediatePropagation();
        });

        // Delete store
        $("table").on("click","tbody td span.btDelete",function () 
        {
            let storeId = $(this).parents("tr").children(".storeId").html();
            let url = "/admin/ajax/stores/" + storeId;
            let storeName = $(this).parent().children(".storeName").html();

            $.ajax({
                url: url,
                type: "DELETE",
            })
            .done(function (storeList) {
                $("#notificationTitle").html("Store Deleted!");
                $("#notificationText").html("Store Name: " + storeName);
                $("#notificationDiv")
                    .removeClass("bg-red-700")
                    .addClass("bg-orange-500")
                    .slideDown().delay(2000).fadeOut("slow");

                $("input[name=searchKeyword]").val("");
                reloadstoreList();
            }).fail(function () {
                console.log("store deletion ajax fail!");
            });
        });

        /** Gray Out control */
        $("#btAddNewStore").click(function () {
            $("#addStoreDiv input").val("");
            $("#addStoreDiv p").html("");
            $("#grayout").removeClass("hidden");
        });

        //** Search */
        $("input[name=searchKeyword]").keyup(function () {
            let keyword = ($(this).val()).toLowerCase();
            if(keyword == ''){
                // show all of store
                $("tbody#tbodyStoreList")
                    .children()
                    .removeClass("hidden");
                $("tbody#tbodyStoreList tr td").removeClass("bg-green-200");
                
            } else {
                $("tbody#tbodyStoreList")
                    .children()
                    .removeClass("hidden")
                    .each(function(){
                        let hasRowKeyword = false;

                        $(this).children().each(function () {
                            let text = ($(this).text()).toLowerCase();
                            if(text.includes(keyword) === true){
                                hasRowKeyword = true;
                                $(this).addClass("bg-green-200");
                            } else {
                                $(this).removeClass("bg-green-200");
                            }
                        });

                        if(hasRowKeyword === false){
                            $(this).addClass("hidden");
                        }
                    });
            }
        });

    });
</script>
{% endblock scripts %}