{% extends "layouts/layout.html.twig" %}

{% block title %}
    Welcome to my blog
{% endblock title %}

{% block section %}
    <h1 class="p-4 text-4xl font-bold">START A RESERVATION</h1>

{#
    Test data errorList start
#}
{% if not errorList %}
    {% set errorList = [
        'Error1Error1Error1Error1Error1Error1Error1Error1',
        'Error2Error2Error2Error2Error2Error2Error2Error2',
        'Error3Error3Error3Error3Error3Error3Error3Error3'
    ]%}
{% endif %}
{#
    Test data errorList end
#}
    {% if errorList %}
        <ul class="p-4 bg-red-100">
            {% for error in errorList %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
<form class="text-lg p-4" action=# method="post">
    <div>
        <p class="mb-2">1. PICK-UP LOCATION (Postal Code, City or Airport)</p>
        <input class="w-full p-2 h-10 border-2 border-gray-500" type="text" name="location" />
        <input class="mr-1" type="checkbox" name="isDiffLocation" />
        <span class="text-sm items-center">Return to a different location</span>
    </div>
    <div class="mt-4">
        <p class="mb-2">2. PICK-UP TIME</p>
        <div class="flex">
            <input class="w-full p-2 h-10 border-2 border-gray-500" type="date" name="pickupDate" />
            <input class="w-full p-2 h-10 border-2 border-gray-500" type="time" name="pickupTime" />
        </div>
    </div>
    <div class="mt-4">
        <p class="mb-2">3. RETURN TIME</p>
        <div class="flex">
            <input class="w-full p-2 h-10 border-2 border-gray-500" type="date" name="returnDate" />
            <input class="w-full p-2 h-10 border-2 border-gray-500" type="time" name="returnTime" />
        </div>
    </div>
    <div class="mt-4">
        <p class="mb-2">4. Age (Postal Code, City or Airport)</p>
        <input class="w-full p-2 h-10 border-2 border-gray-500" type="text" name="age" />
    </div>
    <div class="mt-4 text-right">
        <button class="px-8 py-2 rounded bg-gray-500" type="submit">CONTINUE</button>
    </div>
</form>

{% endblock section %}