<div class="max-w-5xl mx-auto p-4">
    <div class="flex">
        <div class="flex-1 text-center">
            <p class="font-bold text-base">CONTACT US</p>
            <p>12-111 Richmond St W</p>
            <p>Toronto, ON M5H 2G4</p>
            <p>Canada</p>
        </div>

        <div class="flex-1 text-center">
            <p class="font-bold text-base">QUICK LINKS</p>
            <a class="block hover:bg-gray-200 hover:text-gray-800" href="https://www.caaquebec.com/en/">Career</a>
            <a class="block hover:bg-gray-200 hover:text-gray-800" href="https://www.caaquebec.com/en/">CAA</a>
            <a class="block hover:bg-gray-200 hover:text-gray-800" href="#">Terms</a>
        </div>
        <div class="flex-1 text-center">
            <p class="font-bold text-lg p-2 inline-block">Follow us:</p>
            <div>
                <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram-square fa-2x p-1"></i></a>
                <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook fa-2x p-1"></i></a>
                <a href="https://twitter.com/explore" target="_blank"><i class="fab fa-twitter-square fa-2x p-1"></i></a>
                <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube fa-2x p-1"></i></a>
            </div>
        </div>
    </div>
    <div class="mt-4 text-center font-semibold">
        <p>Copyright © 2020 Entry-Level Car Rental</p>
    </div>
</div>