{% set footerItemList =
    [
        [ 'link1_blah' , 'link2_blah' , 'link3_blah' ],
        [ 'link1_blah' , 'link2_blah' , 'link3_blah' ],
        [ 'link1_blah' , 'link2_blah' , 'link3_blah' ],
        [ 'link1_blah' , 'link2_blah' , 'link3_blah' ],
        [ 'link1_blah' , 'link2_blah' , 'link3_blah' ],
        [ 'link1_blah' , 'link2_blah' , 'link3_blah' ]
    ] %}

<div class=" flex flex-row inline-block">
    <div class="inline-block flex-1 flex-row flex items-center">
        <div class="flex flex-col flex-1 inline-block">
            <span class="font-bold text-base pt-2">CONTACT US</span>
            <span>12-111 Richmond St W</span>
            <span>Toronto, ON M5H 2G4</span>
            <span>Canada</span>
        </div>

        <div class="flex-col flex flex-1 text-center">
            <span class="font-bold text-base pt-2">QUICK LINKS</span>
            <span><a href="https://www.caaquebec.com/en/">Career</a></span>
            <span><a href="https://www.caaquebec.com/en/">CAA</a></span>
            <span><a href="#">Terms</a></span>
        </div>
    </div>
    <div>
        <img src="/resources/companyimages/enterprise%20_long_footer.png" style="height: 80px">
    </div>
    <div class="flex flex-col self-center flex-1">
        <p class="font-bold text-lg p-2 inline-block">Follow us:</p>
        <div>
            <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram-square fa-2x p-1"></i></a>
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook fa-2x p-1"></i></a>
            <a href="https://twitter.com/explore" target="_blank"><i class="fab fa-twitter-square fa-2x p-1"></i></a>
            <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube fa-2x p-1"></i></a>
        </div>

    </div>
</div>
<div class="inline-block pb-3 font-semibold">
    <p>Copyright © 2020 Entry-Level Car Rental</p>
</div>


