<div class="p-2 bg-green-600">
    <div class="py-2 px-5 flex items-center justify-between">
        <div class="text-5xl h-24">
            <a href="/">
                <img src="/resources/companyimages/enterprise.png" class="h-full border-3 border-white border-solid" />
            </a>
        </div>
        <div>
            <div id="loginDiv" class="text-right">
                {% if loginUser %}
                    <span>Hello, <a href="/profile/{{ loginUser.id }}">{{ loginUser.name }}</a></span>
                    <button id="btLogout" class="underline text-xs">Logout</button>
                {% else %}
                    <a class="underline" href="/login">Login</a> or <a class="underline" href="/register">Register</a>
                {% endif %}
            </div>


            <ul class="hidden sm:flex sm:mt-2">
                {% include "layouts/nav.html.twig" %}
            </ul>

            <div class="text-right sm:hidden">
                <svg id="btMenu" class="inline-block mt-2 h-12 w-12 cursor-pointer fill-current text-gray-200"
                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path id="iconMenu" d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
                    <path id="iconMenuClose" class="hidden"
                          d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
                </svg>
            </div>
        </div>
    </div>

    <ul id="listMenu" class="hidden">
        {% include "layouts/nav.html.twig" %}
    </ul>
</div>


<script>
    $(document).ready(function () {
        $("#btMenu").click(function () {
            $("#listMenu").toggleClass("hidden");
            $("#iconMenu").toggleClass("hidden");
            $("#iconMenuClose").toggleClass("hidden");
        });

        $("#btLogout").click(function () {
            $.get("/ajax/logout", function (data) {
                $("#loginDiv").html(data);
                location.reload();
            })
                .fail(function () {
                    console.log("logout Fail!!");
                });
        });
    });
</script>