<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block('title') }}</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/resources/companyimages/enterprise_icon.jpg" />

    <!-- layout(header, section) css -->
    <link rel="stylesheet" href="/resources/styles/app.css"/>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Toastr-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


    <!-- Icons -->
   {# <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">#}
    <link rel="stylesheet" href="/resources/fontawesome/css/all.min.css">


</head>

<body class="">
<div class="bg-gray-200 relative min-h-screen h-full">
    <header class="bg-gray-900 text-gray-300">
        {% include 'layouts/header.html.twig' %}
    </header>

    <section class="min-h-screen h-full">
        {% block section %}
        {% endblock section %}
    </section>
    
    <footer class="text-center bg-green-600 text-white w-full">
        {% include 'layouts/footer.html.twig' %}
    </footer>
</div>

<script>
    let resvInfoPaths= [
        "/",
        "/car_selection",
        "/review_reserve",
        "/login",
        "/register",
    ];

    let nextUrl = "#";

    if(typeof(Storage) !== "undefined"){
        let pathname = document.location.pathname;
        let index = resvInfoPaths.indexOf(pathname);

        if( index !== -1)
        {
            if(sessionStorage.prevPath == "/review_reserve"
                && sessionStorage.prevPath != pathname)
            {
                nextUrl = sessionStorage.prevPath;
            } 
            else if(index === 0)
            {
                nextUrl = "/car_selection";
            }
            else if(index === 1)
            {
                nextUrl = "/review_reserve";
            }
        } 
        else 
        {
            if(typeof(Storage) !== "undefined"){
                sessionStorage.removeItem("selCar");
            }
        }

        sessionStorage.prevPath = pathname;
    }

</script>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>
