<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block('title') }}</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/resources/images/favicon.ico" />

    <!-- layout(header, section) css -->
    <link rel="stylesheet" href="/resources/styles/app.css" />

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body class="">
<div class="bg-gray-200">
    <header class="bg-gray-900 text-gray-300">
        {% include 'layouts/header.html.twig' %}
    </header>

    <section>
        {% block section %}
        {% endblock section %}
    </section>
    
    <footer class="bg-gray-900 text-gray-300">
        {% include 'layouts/footer.html.twig' %}
    </footer>
</div>

    {% block scripts %}
    {% endblock scripts %}
</body>
</html>
