<div class="p-4">
    <div class="p-2 text-xl"> Logo </div>
    <ul class="inline-block p-2 m-2 border-2 border-solid border-gray-200">
        <li class="p-1"><a href=#>link1_blah</a></li>
        <li class="p-1"><a href=#>link2_blah</a></li>
        <li class="p-1"><a href=#>link3_blah</a></li>
    </ul>
    <ul class="inline-block p-2 m-2 border-2 border-solid border-gray-200">
        <li class="p-1"><a href=#>link1_blah</a></li>
        <li class="p-1"><a href=#>link2_blah</a></li>
        <li class="p-1"><a href=#>link3_blah</a></li>
    </ul>
    <ul class="inline-block p-2 m-2 border-2 border-solid border-gray-200">
        <li class="p-1"><a href=#>link1_blah</a></li>
        <li class="p-1"><a href=#>link2_blah</a></li>
        <li class="p-1"><a href=#>link3_blah</a></li>
    </ul>
    <ul class="inline-block p-2 m-2 border-2 border-solid border-gray-200">
        <li class="p-1"><a href=#>link1_blah</a></li>
        <li class="p-1"><a href=#>link2_blah</a></li>
        <li class="p-1"><a href=#>link3_blah</a></li>
    </ul>
    <p>
    </p>
</div>