{% extends "layouts/layout.html.twig" %}

{% block title %}
    Page not found
{% endblock title %}

{% block section %}
    <h1 class="p-10 text-4xl text-center">404 Page not found</h1>
{% endblock section %}