{% extends "layouts/layout.html.twig" %}

{% block title %}
    Forbidden Access
{% endblock title %}

{% block section %}
    <h1 class="p-10 text-4xl text-center">Forbidden 403.</h1>
{% endblock section %}