{% extends "layouts/layout.html.twig" %}

{% block title %}
    Internal Error
{% endblock title %}

{% block section %}
    <h1 class="p-10 text-4xl text-center">500. Internal error occured. Our team of Coding Ninjas has been notified.</h1>
{% endblock section %}