{% extends "layouts/layout.html.twig" %}

{% block title %}
    Forbidden 403
{% endblock title %}

{% block section %}
    <h1 class="p-10 text-4xl text-center">403 Forbidden</h1>
{% endblock section %}