{% extends "layouts/layout.html.twig" %}

{% block title %}
    Internal 500
{% endblock title %}

{% block section %}
    <h1 class="p-10 text-4xl text-center">500 Internal Error</h1>
{% endblock section %}