<li class="p-2 rounded hover:bg-gray-600 hover:text-gray-200"><a href=#>menu1</a></li>
<li class="p-2 rounded hover:bg-gray-600 hover:text-gray-200"><a href=#>menu2</a></li>
<li class="p-2 rounded hover:bg-gray-600 hover:text-gray-200"><a href=#>menu3</a></li>
<li class="p-2 rounded hover:bg-gray-600 hover:text-gray-200"><a href=#>menu4</a></li>
<li class="p-2 rounded hover:bg-gray-600 hover:text-gray-200"><a href=#>menu5</a></li>
