<li class="p-2 rounded hover:bg-gray-600 hover:text-gray-200"><a href="/admin/stores">Stores</a></li>
<li class="p-2 rounded hover:bg-gray-600 hover:text-gray-200"><a href="/admin/cars">Cars</a></li>
<li class="p-2 rounded hover:bg-gray-600 hover:text-gray-200"><a href="/admin/cartypes">Car Types</a></li>
<li class="p-2 rounded hover:bg-gray-600 hover:text-gray-200"><a href="/admin/reservations">Reservations</a></li>