<div id="notificationDiv" class="hidden fixed right-0 bottom-0 mb-2 mr-2 p-4 inline-block max-w-xs text-gray-200 bg-orange-600">
    <p id="notificationTitle" class="underline text-lg font-bold">Title</p>
    <div id="notificationText" class="overflow-hidden">Some notification</div>
</div>